nav.sc-9b4e85a8-1,
nav.gDDLmk{
  
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}



.krypt-index{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  
  min-height: 100vh !important;
  min-width: 100% !important;
}



.Box-sc-58a5f0e1-0,.warning-banner{
  
  /* display: none !important; */
}

/* Navbar */
nav{

  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  
}
/* Navbar all elements */
nav > *,nav *{
    
    /* border: 2px solid #D8CAFF !important; */
}
/* Wallet-connect */
.hYXDcC{
    
    background: #f6ff29 !important;
    border-radius: 5px !important;
    /* border: 1px solid #C6C7D7 !important; */
    
    
    
}
/* Navbar Top right */
.nav-right{
    
    
    min-width: 200px !important;
    /* background: #000000 !important; */
    display: flex !important;
    /* grid: 1fr / 30px 30px 30px 30px 50px 30px !important; */
    /* grid-gap: 5px !important; */
    column-gap: 5px !important;
    
}
/* Logo */
.logo{
    
    height: 30px !important;
    width: 30px !important;
    
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
}
.multiverse-navbar-icons--c{
    
    /* background: #CAD2FF; */    
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 50px !important;
    
    
}
.multiverse-navbar-icons--c > *{
    
    background: #EFEFF4 !important;
    color: #D7C5FC !important;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    font-style: bold;
    
    min-height: 30px !important;
    min-width: 30px !important;
}
/* Profile */
.multiverse-navbar-profile{
    
    background: #EFEFF4 !important;
    color: #D7C5FC !important;
    /* background: #F3F3F3; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 30px !important;
    min-width: 30px !important;
    
}
@media(min-width:900px){
    
    .pc{
        display: block !important;
        
    }
    .hYXDcC{
        display: block !important;
        
    }

}



.mKPcu,button #open-settings-dialog-button{
    display: none !important;
}



